---
extends: default
ignore: |
  .cache
  .git
  .github/workflows/*.lock.yml
  .github/workflows/build.yml
  .github/workflows/claude.yml
  .github/workflows/command-dispatch.yml
  .github/workflows/comment-on-stale-issues.yml
  .github/workflows/community-moderation.yml
  .github/workflows/lint.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/release_command.yml
  .github/workflows/run-acceptance-tests.yml
  .github/workflows/weekly-pulumi-update.yml
  .golangci.yml
rules:
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  line-length:
    max: 120
  new-line-at-end-of-file:
    level: warning
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  trailing-spaces:
    level: warning
  truthy:
    ignore: |-
      .github/workflows/*.yml
